.change-password-container {
    width: 50%;
    margin-left: 450px;
    margin-top: 100px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }
  
  .change-password-form {
    background-color: #333; /* Darker background color */
    color: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    text-align: center; /* Center-align form content */
  }
  
  .change-password-title {
    margin-top: 0;
    margin-bottom: 20px; 
  }
  
  .change-password-input,
  .change-password-button {
    width: calc(100% - 40px); /* Full width with padding */
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
  
  .change-password-button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .change-password-button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
  }
  