/* Container styles */
.forgot-password-container {
    margin-top: 250px;
    margin-bottom: 337px;
    margin-left: 400px;
    width: 50%;
    padding: 20px;
    background-color: #333; /* Dark background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); /* Shadow effect */
  }
  
  /* Heading styles */
  .forgot-password-heading {
    margin-bottom: 20px;
    color: #fff; /* White color for heading text */
  }
  
  /* Form styles */
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da; /* Gray border */
    border-radius: 5px;
    background-color: #fff; /* White background */
    color: #495057; /* Dark text color */
  }
  
  .forgot-password-form input:focus {
    outline: none;
    border-color: #007bff; /* Blue border color on focus */
  }
  
  .forgot-password-form button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue button background */
    color: #fff; /* White button text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .forgot-password-form button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  /* Message styles */
  .forgot-password-message {
    margin-top: 10px;
    color: #dc3545; /* Red color for error message */
  }
  